<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "/" method="post">
        <label th:for="name">Имя:</label>
        <input type="text" id="name" name="name" required>

        <label th:for="surname">Фамилия:</label>
        <input type="text" id="surname" name="surname" required>

        <button type="submit">Внести данные</button>

    </form>
</body>
</html>